/**{
	margin: 0;
	padding: 0;
}
.active{
	color: #2df705;
}
h1{
	font-size: 70px;
	padding-top: 30px;
	margin: 0;
	color: white;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
}
h2{
	font-size: xx-large;
	padding-bottom: 50px;
	color: white;
	text-align: center;
	font-family: 'Red Hat Display', sans-serif;
	font-weight: bolder;
}
body{
	position: relative;
	font-family: 'Bree Serif', serif;
}
p{
	line-height: 2;
}
.frap p{
	font-size: small;
}
.headermenu .navbar{
	text-align: right;
	background-color: #0f401e;
	padding-top: 10px;
	padding-left: 10px;
	position: fixed;
	width: 100%;
	z-index: 10000;
	top: 0;
}
.navbar img{
	float: left;
	padding-top: 10px;
	padding-bottom: 8px;
}
.navbar li{
	display: inline-block;
	list-style-type: none;
	padding: 15px 15px
}
.navbar li:hover{
	background-color:#d4865f;
}
a{
	text-decoration: none;
	color: white;
}
.mymenu{
	margin-right: 5%;
}
@media only screen and (max-width:600px){
	.mysearchbar{
		display: none;
	}
	.mysearchbutton{
		display: none;
	}
}
@media only screen and (max-width:500px){
	h1{
		font-size: 30px;
	}
	h2{
		font-size: 15px;
	}

}
.mysearchbar{
	float: left;
	padding:5px 15px;
	margin-top:12px;
	margin-left:30px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	border-right: 0px;
}
.mysearchbutton{
	float: left;
	cursor: pointer;
	border-right: 0px;
	color: white;
	background-color: #0f401e;
	border-bottom-left-radius: 1px;
	outline:none;
	padding: 5px 15px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	margin-top: 12px;
	
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after{
  clear: both;
}
.clear{
  zoom:1;
}
.dropcontent{
	display: none;
	position:absolute;
	background-color: white;
	padding: 5px 7px;
}
.dropcontent a{
	display: block;
	color:#0f401e;
	padding: 12px 16px;
	font-weight: bold;
	text-align: left;
}
.drop:hover .dropcontent{
	display: block;
}
.dropcontent a:hover{
	background-color: #d4865f;
	color: brown;
}
.site-container{
	text-align: center;
	padding-top: 60px;
	width: 100%;
	height: 60vh
}
.coffee{
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 60px;
	width: 100%;
	height: 60vh;
	background-image:linear-
}
.coffee{
	background-repeat: none;
}
.starb{
	align-items: bottom;
	margin-top: 158px;
}
h3{
	color: #0f401e;
	font-family: 'Red Hat Display', sans-serif;
	font-weight: bold;
	font-size: xx-large;
}
.first-middle-site{
	width: 50%;
	margin: auto;

}

hr{
	border-style: none;
	border-top-style: dotted;
	border-color: #0f401e;
	border-width: 10px;
	width: 8%;
	margin: 30px auto;
}
.frap{
	width: 50%;
	margin: 100px auto;
	text-align: left;
}
.frapp{
	float: left;
	margin-right: 30px;
}
.foodd{
	float: right;
	margin-right: 30px;
}
.hd h3{
	margin-bottom: 220px;
}
.third-middle-site{
	width: 50%;
	margin: auto;
}

.contu a{
	-moz-box-shadow: 0px 0px 0px 0px #e67a73;
	-webkit-box-shadow: 0px 0px 0px 0px #e67a73;
	box-shadow: 0px 0px 0px 0px #e67a73;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7948c), color-stop(1, #cc6962));
	background:-moz-linear-gradient(top, #f7948c 5%, #cc6962 100%);
	background:-webkit-linear-gradient(top, #f7948c 5%, #cc6962 100%);
	background:-o-linear-gradient(top, #f7948c 5%, #cc6962 100%);
	background:-ms-linear-gradient(top, #f7948c 5%, #cc6962 100%);
	background:linear-gradient(to bottom, #f7948c 5%, #cc6962 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7948c', endColorstr='#cc6962',GradientType=0);
	background-color:#f7948c;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#0f401e;
	font-family:Georgia;
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	padding:8px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.contu a:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cc6962), color-stop(1, #f7948c));
	background:-moz-linear-gradient(top, #cc6962 5%, #f7948c 100%);
	background:-webkit-linear-gradient(top, #cc6962 5%, #f7948c 100%);
	background:-o-linear-gradient(top, #cc6962 5%, #f7948c 100%);
	background:-ms-linear-gradient(top, #cc6962 5%, #f7948c 100%);
	background:linear-gradient(to bottom, #cc6962 5%, #f7948c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc6962', endColorstr='#f7948c',GradientType=0);
	background-color:#cc6962;
}
.contu a:active {
	position:relative;
	top:1px;
}
.bottom-site{
	background-color:#0f401e;
	padding: 50px 0 40px;
	margin-top: 20px;
	color: white;
	text-align: center;
}
.bottom-site a{	
	color: white;
	text-decoration: none;
	margin: 5px 5px;
	text-align: center;
}
.bottom-site a:hover{
	color: grey;
}
.copyright{
	color: white;
	font-size: 15px;
	padding: 25px 0;
}

.img-name-wrapper {
	display: flex;
}


*/



* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
  }
  
  body{
	  background-image: linear-gradient(to bottom right,#0f401e,#008080);
  }
  
  .site-container {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
	padding: 50px 0px;
  }
  
  .about-me-section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
  }
  
  .about-me-title {
	padding-bottom: 25px;
  }
  
  h1{
	  font-size: 70px;
	  color: white;
	  text-align: center;
	  font-family: 'Dancing Script', cursive;
	  font-weight: bold;
	margin: 0px;
  }
  
  h2{
	margin: 0;
	font-size: xx-large;
	color: white;
	font-family: "Red Hat Display", sans-serif;
	font-weight: bolder;
  }
  
  p {
	color: white;
	font-size: 20px;
	text-align: justify;
	line-height: 1.6em;
	font-weight: 500;
	margin: 0;
  }
  
  .img-name-wrapper {
	display: flex;
	justify-content: space-between;
  }
  
  .profile-img-wrapper {
	width: 250px;
	height: 250px;
	margin-right: 30px;
  }
  
  .profile-img-wrapper img {
	width: 100%;
	height: 100%;
  }
  
  .title-card {
	padding-left: 30px;
	height: 100%;
	margin: auto;
  }
  
  .title-card u {
	color: white;
  }
  
  
  
  .about-me-para {
	padding-top: 25px;
  }
  
  
  .work-highlights-section {
	padding: 25px 0px;
  }
  
  .work-highlights-section h1 {
	padding-bottom: 25px;
  }
  .work-highlights-para {
	padding-bottom: 25px;
  }
  
  .click-here-btn {
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	padding-bottom: 25px;
  }
  
  
  .btn {
	background-color:#0f401e;
	-webkit-border-radius:28px;
	-moz-border-radius:28px;
	border-radius:28px;
	border:3px solid #ffffff;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-style:italic;
	padding:12px 13px;
	text-decoration:none;
  }
  .btn:hover {
	background-color:#3d9c3d;
  }
  .btn:active {
	position:relative;
	top:1px;
  }
  .reach-out-section h2 {
	margin: 0px;
	text-align: center;
	position: relative;
	top: -25px
  }
  
  .social-media-container {
	display: flex;
	justify-content: center;
  
  }
  
  .social-media-container a {
	padding: 0px 10px;
  }
  
  footer{
	padding: 100px 0px .5px;
  }
  
  .copyrights{
	  background-image: linear-gradient(#008080,#0f401e);
	  color: white;
	  font-size: 15px;
	  padding: 25px 0;
	  text-align: center;
  }

  @media (max-width: 1300px) {
	.site-container {
		width: 70%;
	}
  }

  @media (max-width: 950px) {
	.site-container {
		width: 90%;
	}
  }

  @media (max-width: 750px) {
	.site-container {
		width: 90%;
	}

	h1{
		font-size: 50px;
	}
	
	h2{
	  font-size: 22px;
	}
	
	p {
	  font-size: 18px;
	}
  }

  @media (max-width: 600px){
	.img-name-wrapper {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	  }
	  
	  .profile-img-wrapper {
		width: 100%;
		margin: 0px;
		margin-bottom: 20px;
	  }
	  
	  .profile-img-wrapper img {
		width: 250px;
		height: 250px;
	  }
	
	  .title-card {
		padding-left: 0px;
	  }

	  .title-card h1 {
		text-align: center;
	  }
	  .title-card h2 {
		text-align: center;
	  }
	  
  }

  
