
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
  }
  
  body{
	  background-image: linear-gradient(to bottom right,#0f401e,#008080);
  }
  
  .site-container {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
	padding: 50px 0px;
  }
  
  .about-me-section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
  }
  
  .about-me-title {
	padding-bottom: 25px;
  }
  
  h1{
	  font-size: 70px;
	  color: white;
	  text-align: center;
	  font-family: 'Dancing Script', cursive;
	  font-weight: bold;
	margin: 0px;
  }
  
  h2{
	margin: 0;
	font-size: xx-large;
	color: white;
	font-family: "Red Hat Display", sans-serif;
	font-weight: bolder;
  }
  
  p {
	color: white;
	font-size: 20px;
	text-align: justify;
	line-height: 1.6em;
	font-weight: 500;
	margin: 0;
  }
  
  .img-name-wrapper {
	display: flex;
	justify-content: space-between;
  }
  
  .profile-img-wrapper {
	width: 250px;
	height: 250px;
	margin-right: 30px;
  }
  
  .profile-img-wrapper img {
	width: 100%;
	height: 100%;
  }
  
  .title-card {
	padding-left: 30px;
	height: 100%;
	margin: auto;
  }
  
  .title-card u {
	color: white;
  }
  
  
  
  .about-me-para {
	padding-top: 25px;
  }
  
  
  .work-highlights-section {
	padding: 25px 0px;
  }
  
  .work-highlights-section h1 {
	padding-bottom: 25px;
  }
  .work-highlights-para {
	padding-bottom: 25px;
  }
  
  .click-here-btn {
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	padding-bottom: 25px;
  }
  
  
  .btn {
	background-color:#0f401e;
	-webkit-border-radius:28px;
	-moz-border-radius:28px;
	border-radius:28px;
	border:3px solid #ffffff;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-style:italic;
	padding:12px 13px;
	text-decoration:none;
  }
  .btn:hover {
	background-color:#3d9c3d;
  }
  .btn:active {
	position:relative;
	top:1px;
  }
  .reach-out-section h2 {
	margin: 0px;
	text-align: center;
	position: relative;
	top: -25px
  }
  
  .social-media-container {
	display: flex;
	justify-content: center;
  
  }
  
  .social-media-container a {
	padding: 0px 10px;
  }
  
  footer{
	padding: 100px 0px .5px;
  }
  
  .copyrights{
	  background-image: linear-gradient(#008080,#0f401e);
	  color: white;
	  font-size: 15px;
	  padding: 25px 0;
	  text-align: center;
  }

  @media (max-width: 1300px) {
	.site-container {
		width: 70%;
	}
  }

  @media (max-width: 950px) {
	.site-container {
		width: 90%;
	}
  }

  @media (max-width: 750px) {
	.site-container {
		width: 90%;
	}

	h1{
		font-size: 50px;
	}
	
	h2{
	  font-size: 22px;
	}
	
	p {
	  font-size: 18px;
	}
  }

  @media (max-width: 600px){
	.img-name-wrapper {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	  }
	  
	  .profile-img-wrapper {
		width: 100%;
		margin: 0px;
		margin-bottom: 20px;
	  }
	  
	  .profile-img-wrapper img {
		width: 250px;
		height: 250px;
	  }
	
	  .title-card {
		padding-left: 0px;
	  }

	  .title-card h1 {
		text-align: center;
	  }
	  .title-card h2 {
		text-align: center;
	  }
	  
  }

  
